<footer>
  <div class="container footerContent">
    <p><i class="fa fa-copyright"></i> Wesley Rasada All Rights Reserved
        <div class="footerIcons">
          <a class="btn btn-social-icon btn-github btn-sm"href="https://github.com/WRasada"><span class="fa fa-github fa-5x"></span></a>
          <a class="btn btn-social-icon btn-linkedin btn-sm"href="https://www.linkedin.com/in/wesley-rasada-b9b080102/"><span class="fa fa-linkedin fa-5x"></span></a>
          <a class="btn btn-social-icon btn-twitter btn-sm"href="https://twitter.com/Wes_Rasada"><span class="fa fa-twitter fa-5x"></span></a>
          <a class="btn btn-social-icon btn-instagram btn-sm"href="https://instagram.com/wrasada"><span class="fa fa-instagram fa-5x"></span></a>
        </div>
    </p>
  </div>
</footer>
