{{> header}}
<body id="aboutPage-new">

{{> navbar}}

<div class="aboutHeader">
  <img src="assets/images/profilepic2.png" alt="profile picture">
  <p> </p>
</div>
<div class="container">
  <div class="row aboutContainer">
    <div class="mySkills col-md-4">
      <h2 class="skillsTitle">Skills</h2>
      <hr>
      <ul id="skillsList">
        <li>JavaScript</li>
        <div class="progress">
          <div id="progressBarJS" class="progress-bar progress-bar-striped active">
          </div>
        </div>
          <ul>
            <li>jQuery</li>
            <div class="progress">
              <div id="progressBarjQuery" class="progress-bar progress-bar-striped active">
              </div>
            </div>
            <li>NodeJS</li>
            <div class="progress">
              <div id="progressBarNode" class="progress-bar progress-bar-striped active">
              </div>
            </div>
            <li>ExpressJS</li>
            <div class="progress">
              <div id="progressBarExpress" class="progress-bar progress-bar-striped active">
              </div>
            </div>
            <li>MongoDB</li>
            <div class="progress">
              <div id="progressBarMongo" class="progress-bar progress-bar-striped active">
              </div>
            </div>
          </ul>
        <li>Ruby</li>
        <div class="progress">
          <div id="progressBarRuby" class="progress-bar progress-bar-striped active">
          </div>
        </div>
        <ul>
          <li>Rails</li>
          <div class="progress">
            <div id="progressBarRails" class="progress-bar progress-bar-striped active">
            </div>
          </div>
        </ul>
        <li>HTML</li>
        <div class="progress">
          <div id="progressBarHTML" class="progress-bar progress-bar-striped active">
          </div>
        </div>
        <li>CSS</li>
        <div class="progress">
          <div id="progressBarCSS" class="progress-bar progress-bar-striped active">
          </div>
        </div>
      </ul>

    </div>
    <div class="aboutMe col-md-7 col-md-offset-1">
      <h2 class="aboutTitle">About Me</h2>
      <hr>
      <p>Hi! My name is Wesley, most people call me Wes. Since a young age, I've always been fascinated by technology. I think it all started when I played my first game on Super Nintendo. I don't remember which game, only that I couldn't get enough of it and wanted to know more. Growing up, whenever something broke, I would immediately take it apart to see if I can fix it. It's who I am. I love being creative, fixing things and I always appreciate a challenge!</p>
      <p>Besides coding, I love to game. Whether it's a board game or video game, I'm a competitive person at heart so I always strive to the be the best at whatever I'm doing. If it's with a team or by myself, I love to succeed. Some other hobbies I like are photography and drawing. Whenever I have the chance to travel, I hop on right away and that's where photography comes in. All the pictures on this website were taken by me when I was in Toronto. I might add a little gallery to the website later on. I'm not the best at drawing but I love art, particularly concept art. Maybe one day, with enough practice, I can draw some great concept art!</p>
      <p>I'm currently working hard towards my goal of becoming a Web Developer and I'm excited for what the future holds!</p>
    </div>
  </div>
</div>
{{> footer}}
<script type="text/javascript" src="assets/js/personalSite.js"></script>
<script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
</body>
</html>
