{{> header}}
  <body id="homePage">
    {{> navbar}}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="landingMessage">
            <h1 id="myName">Wesley Rasada</h1>
            <div id="myNameContent">
              <hr id="messageSeparator">
              <h2>Relaunch - 4/2/2017</h2>
              <!-- <a class="blogBtn btn btn-primary" href="blogv2.html">View My Blog</a> -->
            </div>

          </div>
        </div>
      </div>
    </div>
    <script>
	  $(document).ready(function() {
	    $(".fancy_title").lettering();
	  });
</script>
  <script type="text/javascript" src="assets/js/personalSite.js"></script>
  <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
