{{> header}}
  <body id="homePage">

  <div id="myNameContent">
    <div class="mainPage">
      <h1>Wesley Rasada</h1>
      <a class="btn btn-default"><span class="homeButton">Enter</span></a>
    </div>
  </div>

  <script type="text/javascript" src="assets/js/personalSite.js"></script>
  <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
