{{> header}}
  <body id="blogPage">
    {{> navbar}}
    <div class="container">
      {{#each blogs}}
      <div class="row">
        <div class="blogContainer col-xs-12 col-md-10 col-md-offset-1">
          <div class="blogHeader">
            <h2 class="blogTitle">{{title}}</h2>
            <hr class="titleSeparator">
            <h4 class="blogInfo">{{dateFormat date}}</h4>
          </div>
          <div class="blogPost">
            <p>{{{sliceBlog body}}}</p>
            <a id="readMoreButton" href="/blog/{{_id}}">Read more</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{> footer}}
</script>
  <script type="text/javascript" src="assets/js/personalSite.js"></script>
  <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>
